<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>44199393853-4s5mtcob0era1cg6beetv5922ks022vt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.44199393853-4s5mtcob0era1cg6beetv5922ks022vt</string>
	<key>API_KEY</key>
	<string>AIzaSyAtBaVvnbivkvYozQYMmKvuf1o7vn4CbNY</string>
	<key>GCM_SENDER_ID</key>
	<string>44199393853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emil.SnapChat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-74d47</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-74d47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44199393853:ios:781de82c6dc424e7c24854</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-74d47.firebaseio.com</string>
</dict>
</plist>